
/* Bloque 1 */
.bloque1 {
    display: grid;
    grid-template-columns: 2fr;
    padding: 10px;
    row-gap: 10px;
  }
  
  
  .indexTextoprincipal {
    margin-left: 5%;
    margin-top: 10%;
    font-size: 50px;
    font-weight: 100px;
    font-style: normal;
    text-align: center;
    position: absolute;
  }
  
  .imagenIndex {
    display: flex;
    width: 100%;
    height: 80%;
    object-fit: cover;
    padding-top: 2%;
  }
  
  /* comunicación de crisis section */
  .títuloParrafoeimagen {
   padding: 20px;
   @include flex (row, center, center, 20px)
  }

  .subtitulo {MA
    width: 40%;
    @include flex (column, center, flex-start, 20px)
  }

  .imagentexto {
    width:50%;
    height:30%;
    object-fit: cover;
    padding: 10%;
    padding-top: 2%;
  }

  
  .palabrasEnlaces {
    font-family: roboto;
    font-size: 15;
    font-weight: 300;
    color: #E0040B;
  }
  
 