@media (max-width: 480px) {
    nav,
     .nav-list {
      flex-direction: column;
      gap: 10px;
    }
    .index {
         height: 900px;
       }
    .servicios {
        height: 300px;
      }
 }
